name: Linux

on:
  push:
    branches: [main]
    paths-ignore: ['**.md', '**.txt']
  pull_request:
    branches: [main]
    paths-ignore: ['**.md', '**.txt']

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04]
        mode: [debug, releasedbg]

    runs-on: ${{ matrix.os }}

    concurrency:
        group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-Linux-${{ matrix.mode }}
        cancel-in-progress: true
    steps:
      - uses: actions/checkout@v1
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: branch@master
          actions-cache-folder: '.xmake-cache'

      - name: Installation
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev libglu1-mesa-dev p7zip clang-format-16
          sudo apt install -y  libaio-dev
          sudo apt install -y uuid-dev
          sudo apt install -y libibverbs-dev
          sudo apt install -y librdmacm-dev
          sudo apt install -y libelf-dev
          sudo apt install -y libnuma-dev
          sudo apt install -y python3
          sudo apt install -y python3-pip
          sudo apt install -y patchelf
          sudo apt install -y python3-pyelftools
          sudo apt install -y meson
          sudo apt install -y nasm
          sudo apt install -y ccache
          sudo apt install -y autoconf automake libtool pkg-config
          sudo ln -sf /usr/bin/clang-format-16 /usr/bin/clang-format
      
      - name: Format
        run: |
          xmake format -f "**.h:**.cc:**.proto"
          git diff --exit-code

      - name: Build
        run: |
          xmake f -y -c -m ${{ matrix.mode }}
          xmake b -v
        env:
          CC: gcc-13
          CXX: g++-13
      
      - name: Test
        run: |
          xmake test -v
